* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d73eb1;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;

}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
    overflow: hidden;
    border-radius: 10%
    
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}




/* Ocultar el botón en pantallas grandes */
#playButton {
    display: none;
}

/* Mostrar el botón solo en dispositivos con un ancho máximo de 768px (móviles) */
@media screen and (max-width: 768px) {
    #playButton {
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #fff;
        color: #111;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
}
    
  